<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>

  <key>CFBundleIdentifier</key>
  <string>com.sameer.hpq6001driver</string>

  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>

  <key>CFBundleName</key>
  <string>HPQ6001Driver</string>

  <key>CFBundlePackageType</key>
  <string>KEXT</string>

  <key>CFBundleVersion</key>
  <string>1.0.0</string>

  <key>IOKitPersonalities</key>
  <dict>
    <key>HPQ6001 ACPI Driver</key>
    <dict>
      <key>CFBundleIdentifier</key>
      <string>com.example.driver.HPQ6001Driver</string>

      <key>IOClass</key>
      <string>HPQ6001Driver</string>

      <key>IOProviderClass</key>
      <string>IOACPIPlatformDevice</string>

      <key>IONameMatch</key>
      <string>HPQ6001</string>
      
      <key>IOKitDebug</key>
      <integer>65535</integer>
    </dict>
  </dict>

  <key>OSBundleRequired</key>
  <string>Root</string>
</dict>
</plist>
